.navigation {
  background-color: var(--primaryblack-100);
  position: relative;
  width: 1440px;
}

.navigation .class-6 {
  left: 1218px !important;
  position: absolute !important;
  top: 22px !important;
}

.navigation .row {
  align-items: flex-start;
  display: inline-flex;
}

.navigation .menu {
  background-color: var(--gray-800);
  border-radius: 16px;
  height: 56px;
  overflow: hidden;
  position: relative;
  width: 56px;
}

.navigation .menu-2 {
  height: 28px;
  left: 14px;
  position: absolute;
  top: 14px;
  width: 28px;
}

.navigation .logo-instance {
  flex: 0 0 auto !important;
}

.navigation .link {
  border-radius: 16px !important;
  flex: 0 0 auto !important;
}

.navigation .simple-instance {
  text-align: unset !important;
}

.navigation .links {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 4px;
  position: relative;
}

.navigation .instance-node {
  left: 595px !important;
  position: absolute !important;
  top: 22px !important;
}

.navigation .class-7 {
  left: 595px !important;
  position: absolute !important;
  top: 20px !important;
}

.navigation .class-8 {
  left: 80px !important;
  position: absolute !important;
  top: 22px !important;
}

.navigation .div {
  position: absolute;
  top: 22px;
}

.navigation .label-i {
  color: var(--nightstroketext);
  font-family: var(--label-medium-600-font-family);
  font-size: var(--label-medium-600-font-size);
  font-style: var(--label-medium-600-font-style);
  font-weight: var(--label-medium-600-font-weight);
  letter-spacing: var(--label-medium-600-letter-spacing);
  line-height: var(--label-medium-600-line-height);
  margin-top: -4px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.navigation .links-2 {
  align-items: flex-start;
  display: inline-flex;
  gap: 4px;
  left: 1136px;
  position: absolute;
  top: 22px;
}

.navigation .class-9 {
  left: 80px !important;
  position: absolute !important;
  top: 22px !important;
}

.navigation .menu-3 {
  left: 80px;
  position: absolute;
  top: 22px;
}

.navigation.one {
  height: 100px;
}

.navigation.three {
  height: 100px;
}

.navigation.two {
  height: 100px;
}

.navigation.seven {
  height: 100px;
}

.navigation.five {
  height: 100px;
}

.navigation.four {
  height: 100px;
}

.navigation.ten {
  height: 100px;
}

.navigation.nine {
  height: 100px;
}

.navigation.eleven {
  height: 100px;
}

.navigation.eight {
  height: 100px;
}

.navigation.six {
  height: 150px;
}

.navigation.one .row {
  gap: 32px;
  left: 80px;
  position: absolute;
  top: 22px;
}

.navigation.three .row {
  gap: 4px;
  left: 984px;
  position: absolute;
  top: 22px;
}

.navigation.two .row {
  gap: 32px;
  left: 80px;
  position: absolute;
  top: 22px;
}

.navigation.seven .row {
  gap: 32px;
  left: 80px;
  position: absolute;
  top: 22px;
}

.navigation.five .row {
  gap: 32px;
  left: 80px;
  position: absolute;
  top: 22px;
}

.navigation.four .row {
  gap: 4px;
  left: 838px;
  position: absolute;
  top: 22px;
}

.navigation.ten .row {
  gap: 32px;
  left: 80px;
  position: absolute;
  top: 22px;
}

.navigation.nine .row {
  gap: 32px;
  left: 80px;
  position: absolute;
  top: 22px;
}

.navigation.eleven .row {
  gap: 32px;
  left: 80px;
  position: relative;
  top: 22px;
}

.navigation.eight .row {
  gap: 32px;
  left: 80px;
  position: absolute;
  top: 22px;
}

.navigation.six .row {
  gap: 4px;
  left: 532px;
  position: absolute;
  top: 84px;
}

.navigation.one .div {
  align-items: flex-start;
  display: inline-flex;
  gap: 4px;
  left: 532px;
  width: 142px;
}

.navigation.three .div {
  align-items: flex-start;
  display: inline-flex;
  gap: 4px;
  left: 80px;
  width: 142px;
}

.navigation.two .div {
  align-items: flex-start;
  display: inline-flex;
  gap: 4px;
  left: 80px;
  width: 142px;
}

.navigation.seven .div {
  align-items: flex-start;
  display: inline-flex;
  gap: 4px;
  left: 80px;
  width: 142px;
}

.navigation.five .div {
  align-items: center;
  border: 4px solid;
  border-color: var(--nightstrokeborder);
  border-radius: 16px;
  display: flex;
  gap: 8px;
  justify-content: center;
  left: 80px;
  overflow: hidden;
  padding: 16px 20px;
  width: 142px;
}

.navigation.four .div {
  align-items: flex-start;
  display: inline-flex;
  gap: 4px;
  left: 80px;
  width: 142px;
}

.navigation.ten .div {
  align-items: flex-start;
  display: inline-flex;
  gap: 4px;
  left: 80px;
  width: 142px;
}

.navigation.nine .div {
  align-items: flex-start;
  display: inline-flex;
  gap: 4px;
  left: 80px;
  width: 142px;
}

.navigation.eleven .div {
  align-items: flex-start;
  display: inline-flex;
  gap: 4px;
  left: 80px;
  width: 142px;
}

.navigation.eight .div {
  align-items: flex-start;
  background-color: var(--gray-800);
  border-radius: 16px;
  display: inline-flex;
  gap: 4px;
  height: 56px;
  left: 80px;
  overflow: hidden;
  width: 56px;
}

.navigation.six .div {
  align-items: flex-start;
  display: inline-flex;
  gap: 4px;
  left: 80px;
  width: 142px;
}

.navigation.seven .menu-3 {
  background-color: var(--gray-800);
  border-radius: 16px;
  height: 56px;
  overflow: hidden;
  width: 56px;
}

.navigation.nine .menu-3 {
  align-items: flex-start;
  display: inline-flex;
  gap: 4px;
}
